@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <input type="text"/><input type="button" value="Join game!" />
    </div>
</body>
</html>
